body{
    background-color: azure;
}
.container{
    width:60%;
    margin-left: 20%;
    margin-left: 20%;
}
img{
    display: block;
    margin: auto;
    max-width: 50%;
    height: 300px;
    border-radius: 3%;
}
.submit{ 
    padding: 15px 32px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    background-color:rgb(253, 202, 37);
    display: inline-block;
    margin-left: 40%;
    transition-duration: 0.4s;
}
.submit:hover{
    background-color: #0fe999;
}
h1 { 
   margin: 2 auto;
    text-align: center;
    color: chocolate;
    
}
.description{
   margin-top: -10px;
    text-align: right;
    
}


header {
    background-color: #333; 
    padding: 10px;
    color: white; 
}
header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #ffd700; 
}
footer{
    background-color: #333; 
    padding: 10px;
    color: white; 

}
form{
    margin-top: 20px;
    margin-bottom: 20px
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header li {
    margin-left: 200px;
    margin-top: 5px;
    display: inline-block;
}
span{
    color: red;
}
    
