body{
    background-color:paleturquoise;
}
.container{
    width:60%;
    margin-left: 20%;
    margin-left: 20%;
}
img{
    display: block;
    margin: auto;
    max-width: 50%;
    height: auto;
    border-radius: 8%;
}
button{ 
    padding: 15px 32px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    background-color:rgb(253, 202, 37);
    display: inline-block;
    margin-left: 40%;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #0fe999;
}
