body{
    background-color:paleturquoise;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 3rem 3rem 1fr;
}
/**Centering the image**/
.productPic{
    grid-column: 1/-1;
    grid-row: 2/4;
    padding: 0 24;
}
.productPic img{
    height:100%;
    aspect-ratio: 1/1.5;
    border-radius: 10%;
}
.aboutMe{
    grid-row: 4/5;
    grid-column: 1/-1;
    padding: 24px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}